# folders

logFiles/
.idea/
RiderApp/node_modules
adminApp/node_modules
adminApp/.expo
*.ps1
*.json
.idea/Seminar Project.iml
.idea/misc.xml
Server/logFiles/ErrorLog.txt
Server/logFiles/ServerLog.txt
Server/logFiles/SystemLog.txt
raspberryPi/AlertModule/__pycache__/Vocal.cpython-39.pyc
raspberryPi/AlertModule/__pycache__/Alert.cpython-39.pyc
raspberryPi/AlertModule/__pycache__/__init__.cpython-39.pyc
raspberryPi/.idea/raspberryPi.iml
Server/logFiles/ErrorLog.txt.lck
Server/logFiles/ServerLog.txt.lck
Server/logFiles/SystemLog.txt.lck
Server/LogFiles/EmailsLog.txt
Server/LogFiles/EmailsLog.txt.1
Server/LogFiles/EmailsLog.txt.1.lck
Server/LogFiles/EmailsLog.txt.lck
*.pyc
*.pyc
raspberryPi/GPSModule/__pycache__/__init__.cpython-39.pyc
raspberryPi/error.log
raspberryPi/.idea/raspberryPi.iml
raspberryPi/AlertModule/__pycache__/Vocal.cpython-39.pyc
raspberryPi/CameraModule/__pycache__/CameraController.cpython-39.pyc
raspberryPi/GPSModule/__pycache__/GPSController.cpython-39.pyc
raspberryPi/ride.log
raspberryPi/system.log
*.pyc
*.iml
ServerBackend/pom.xml
ServerBackend/profiles.xml
ServerBackend/pom.xml
*.xml
